* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 1.2rem;
}
.header {
  background-color: rgb(112, 87, 255);
  color: white;
  height: 100px;
  padding: 2rem 1rem;
  text-align: center;
}
.header__title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.form {
  width: 500px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form__input,
.form__select {
  padding: 0.5rem 1rem;
}
.form__input {
  width: 100%;
}
.form__button {
  cursor: pointer;
  background-color: rgb(112, 87, 255);
  color: white;
  border: none;
  padding: 0.5rem 0.8rem;
}
.form__button:hover {
  background-color: rgb(39, 1, 255);
}

.list {
  list-style: none;
  width: 500px;
  margin: 2rem auto;
  padding: 0;
}

.todo-item {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}
.close {
  color: red;
  cursor: pointer;
  font-weight: bolder;
}
.close:hover {
  color: tomato;
}

.footer {
  width: 500px;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.github {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.github__img {
  width: 50px;
  height: 50px;
}
